Source: pagavcs-17-nautilus
Section: devel
Priority: optional
Maintainer: Gábor Pápai <pagavcs@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.2
Homepage: http://pagavcs.googlecode.com

Package: pagavcs-17-nautilus
Architecture: all
Replaces: pagavcs-nautilus
Breaks: pagavcs-nautilus
Depends: pagavcs-17-core (>=1.5), python-nautilus, ${misc:Depends}
Description: Desktop integrated Subversion client
 Nautilus integrated Subversion GUI client, similar to TortoiseSVN. 
 It's written in Java and Python (Nautilus-integration).
 Changelog: http://code.google.com/p/pagavcs
