Source: pagavcs-17
Section: devel
Priority: optional
Maintainer: Gábor Pápai <pagavcs@gmail.com>
Build-Depends: debhelper (>= 5), automake, build-essential, default-jdk
Standards-Version: 3.9.2
Homepage: http://pagavcs.googlecode.com

Package: pagavcs-17
Architecture: i386 amd64
Replaces: pagavcs, pagavcs-17-core, pagavcs-17-core-libs, pagavcs-17-cli, pagavcs-17-bigmem
Breaks: pagavcs
Depends: default-jre | openjdk-7-jdk | oracle-java7-installer | openjdk-6-jdk | oracle-java6-installer | sun-java6-jre, pagavcs-17-nautilus, pagavcs-17-thunar
Description: Desktop integrated Subversion client
 Gnome and XFCE integrated Subversion GUI client, similar to TortoiseSVN. 

