Source: pagavcs
Section: devel
Priority: optional
Maintainer: Gábor Pápai <pagavcs@gmail.com>
Build-Depends: debhelper (>= 5), sun-java6-jdk
Standards-Version: 3.8.3
Homepage: none

Package: pagavcs
Architecture: all
Depends: sun-java6-jre, meld, python-nautilus, hicolor-icon-theme
Description: Desktop integrated subversion client
 Nautilus integrated subversion GUI client, similar to TortoiseSVN. It's written in Java and Python (Nautilus-integration).
