Source: pagavcs-17-thunar
Section: devel
Priority: optional
Maintainer: Gábor Pápai <pagavcs@gmail.com>
Build-Depends: debhelper (>= 5), automake, build-essential, libthunarx-2-dev, libgtk-3-dev, libglib2.0-dev
Standards-Version: 3.9.2
Homepage: http://pagavcs.googlecode.com

Package: pagavcs-17-thunar
Architecture: i386 amd64
Replaces: pagavcs-thunar
Breaks: pagavcs-thunar
Depends: pagavcs-17-core (>=1.5.5), libthunarx-2-0, ${misc:Depends}
Description: Desktop integrated Subversion client
 Thunar plugin for PagaVCS.
 Changelog: http://code.google.com/p/pagavcs
