Source: pagavcs
Section: devel
Priority: optional
Maintainer: Gábor Pápai <pagavcs@gmail.com>
Build-Depends: debhelper (>= 5), sun-java6-jdk | default-jdk
Standards-Version: 3.8.4
Homepage: http://pagavcs.googlecode.com

Package: pagavcs
Architecture: all
Depends: sun-java6-jre | default-jre, meld, python-nautilus, hicolor-icon-theme, zenity, wiggle, gedit, patchutils
Description: Desktop integrated Subversion client
 Nautilus integrated Subversion GUI client, similar to TortoiseSVN. 
 It's written in Java and Python (Nautilus-integration).
 Changelog: http://code.google.com/p/pagavcs/source/browse/trunk/debbuild/debian/changelog
