Source: pagavcs-17
Section: devel
Priority: optional
Maintainer: Gábor Pápai <pagavcs@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.2
Homepage: http://pagavcs.googlecode.com

Package: pagavcs-17
Architecture: all
Replaces: pagavcs
Breaks: pagavcs
Depends: pagavcs-17-core, pagavcs-17-nautilus
Description: Desktop integrated Subversion client
 Nautilus integrated Subversion GUI client, similar to TortoiseSVN. 
 It's written in Java and Python (Nautilus-integration).
 Changelog: http://code.google.com/p/pagavcs/source/browse/trunk/debbuild/debian/changelog
