Source: pagavcs-17-nemo-dev
Section: devel
Priority: optional
Maintainer: PagaVCS <pagavcs@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.2
Homepage: http://pagavcs.googlecode.com

Package: pagavcs-17-nemo-dev
Architecture: all
Replaces: pagavcs-17-nemo
Depends: pagavcs-17, python-nemo, ${misc:Depends}
Description: Desktop integrated Subversion client
 Nautilus integrated Subversion GUI client, similar to TortoiseSVN. 
 Changelog: http://pagavcs.googlecode.com
