Source: mugcommander-pagavcs-extensions
Section: devel
Priority: optional
Maintainer: Gábor Pápai <pagavcs@gmail.com>
Build-Depends: debhelper (>= 5), sun-java6-jdk | default-jdk
Standards-Version: 3.8.3
Homepage: http://pagavcs.googlecode.com

Package: mugcommander-pagavcs-extensions
Architecture: all
Depends: sun-java6-jre | default-jre, pagavcs-cli (>= 1.5.1), mugcommander (>= 1.0.3), libunixsocket-java
Description: PagaVCS extension for mugCommander
 It provides the ability to interact with PagaVCS from mugCommander
 It's written in Java.
