Source: pagavcs-bigmem
Section: devel
Priority: optional
Maintainer: Gábor Pápai <pagavcs@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.2
Homepage: http://pagavcs.googlecode.com

Package: pagavcs-bigmem
Architecture: all
Depends: pagavcs-cli, ${misc:Depends}
Description: Desktop integrated Subversion client
 Nautilus integrated Subversion GUI client, similar to TortoiseSVN. 
 It's written in Java and Python (Nautilus-integration).
 Changelog: http://code.google.com/p/pagavcs
