<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Pagavcs-1.7/src/hu/pagavcs/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hu.pagavcs.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Pagavcs-1.7"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx199m -XX:MaxPermSize=64M -XX:PermSize=32M &#10;-XX:MinHeapFreeRatio=10 -XX:MaxHeapFreeRatio=20 &#10;-Djava.library.path=/usr/lib/jni"/>
</launchConfiguration>
